/* Sets all the text color to red! */

.another-quick-switcher__item {
    display: flex;
    align-items: center;
}

.another-quick-switcher__phantom_item {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--text-faint);
}

.another-quick-switcher__item__icon {
    position: absolute;
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--text-muted);
    left: 10px;
    top: 6px;
}

.another-quick-switcher__item__file {
    flex: 1;
}

.another-quick-switcher__item__directory {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--text-muted);
    padding-left: 15px;
}
