name: "Tests"

on:
  push:
    paths:
      - ".github/**/*"
      - "src/*"
      - "src/**/*"
      - "*.js"
      - "*.json"
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - run: bun ci

      - name: "Discord notification (not success)"
        uses: rjstone/discord-webhook-notify@v1
        if: "! success()"
        with:
          description: "⚠ Another Quick Switcher Tests failed!"
          footer: "Bun"
          severity: error
          avatarUrl: https://cdn.otamart.com/item-picture/26205822/0-1574353123758.jpg
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}

  notify:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: "Discord notification (success)"
        uses: rjstone/discord-webhook-notify@v1
        if: always()
        with:
          description: "✅ Another Quick Switcher Tests passed!"
          footer: "Bun"
          severity: info
          avatarUrl: https://cdn.otamart.com/item-picture/26205822/0-1574353123758.jpg
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
